<div class="jumbotron">
    <h2>"{{ contact.firstname +' '+ contact.lastname }}"</h2>
    <p class="lead">You can edit this contact underneath</p>
    <hr>
    <div>
        <label>Id: </label>{{contact.id}}
    </div>
    <div>
        <label for="firstname">Firstname: </label>
        <input id="firstname" [(ngModel)]="editFirstname" placeholder="firstname"/>
    </div>
    <div>
        <label for="lastname">Lastname: </label>
        <input id="lastname" [(ngModel)]="editLastname" placeholder="lastname"/>
        <p class="lead">
            <button class="btn btn-primary btn-xs" (click)="save()" role="button">Enregistrer</button>
            <button class="btn btn-warning btn-xs" (click)="cancel()" role="button">Annuler</button>
        </p>
    </div>
</div>